@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play',sans-serif ;
}

body{
    background: radial-gradient(70em, rgb(245, 234, 208), rgb(241, 241, 241));
}

/* PAGE DE CONNEXION */


.djamo-info{

display: flex;
justify-content: center;
align-items: center !important;
height: 100vh;
background: rgb(4, 65, 146);
clip-path: polygon(0 0, 80% 0, 98% 100%, 0 100%);
/* transform: skewX(-10deg);  */


}

.carte-djamo{
    rotate: 90deg;
    position: absolute;


  }
  .carte-djamo img{
   width: 200px;

}

.item-card{
    position: relative;

    display: flex;
    justify-content: space-around;
    flex-direction: column;


}

.item-card .card-targ{

    height: 80px;
    position: absolute;

}
.item-card .targ1{
    float: left;
    left: -14.9em;
    top: -2em;

}
.item-card .targ2{

    top: -11.5em;
    left: -1.5em;
    animation-duration: 1s;

}

.item-card .targ3{
    left: 10em;
    top: -2.5em;
    animation-duration: 3s;


}
.titre-connexion{
    position: absolute;
    display: block;
    bottom: 18em !important;
    color: #fff;
    font-weight: 900 !important;
}

.connexion-djamo{
    justify-content: center;
    align-content: center;

    height: 100vh;
    margin: 0 auto;

}

form input{
    border-radius:0 !important;
}
form input:focus{
    box-shadow: none !important;
    border: 2px solid rgb(37, 94, 169) !important;
     border-left: none !important;
     border-right: none !important;
     border-top: none !important;

}
.btn-connexion{
    background: rgb(4, 65, 146);
    color: #fff;
    padding: 8px 15px ;
    transition: all 0.3s ease-in-out;
    margin-top: 13px;
    border: none;
}
.btn-connexion:hover{
    background: #000;
}

/* PAGE VERIFICATION OTP*/
.veficationOTP{
justify-content: center;
align-content: center;
height: 100vh;
width: 100%;
margin: 0 auto;
}

.veficationOTP span{
    color: #4c4c4c;
    font-size: 15px;
    display: block;

}


/* Connexion CODE PIN */

div.connexionPin{


}

.header{
    background: #fff;
    padding: 5px;

}
.header .logo{
    justify-content: center;
    display: flex;
}
.notify{
    display: flex;
    margin-right: 3em;
    float: right;

}
.notify i{
    font-size: 2em;
    margin: 0 18px;
    margin-top: -1.3em;

}

.bars-menu{
    display: flex;
    float: left;
    margin-left: 3em;

}
.bars-menu i{
    font-size: 2.5em;
    margin-top: 3px;
}


.sidebar{
    border-radius: 2em 2em;
    overflow: hidden;
    height: 80vh;

}
.side-header{
    background: black;
    padding: 5px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    color: #e9e9e9;
}


.side-header h3{
    color: #fff;
    font-size: 16px;
    position: relative;
}
.side-header .info a{
margin-left: 5px;
text-decoration: ;
color: #fff;
font-size: 15px;

}
.side-header .info span{
    background: #555;
    padding: 2px 7px;
    border-radius: 3px;
    font-size: 14px;

}

/* .side-header p a{
    position: relative;
    text-decoration: none;
    color: #e9e9e9;
    font-size: 1.1em;
} */
.side-header img{

    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.sidebar{
    box-shadow:  0 0 9px rgba(0, 0, 0, 0.329);
    height: 100vh;
    background: #f1f1f1;
    padding: 0 !important;
    margin: 0 !important;
}
.side-liste .icone{
    font-size: 10px;
    height: 50px;

    color: rgb(54, 54, 238) !important;

}

.sidebar ul li{
    list-style: none;
    padding: 0 !important;
    margin-bottom: 10px;
}

.trait{
    height: 1px !important;
    background: #c4c4c4;

    width: 94%;

}
.side-liste{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 10px;

}
.sidebar ul li a{
    color: #242424;
    font-size: 0.88em;
    text-decoration: none;
}
.logo-partner{
    text-align: center;
    margin-bottom: 10px;
    margin-top: ;
}
.logo-partner img{
    height: 20px;
    margin: 0 8px;
    width: 50px;
    filter: grayscale();
}
.bonus-invitation{
    background: #fff;
    padding: 5px;
    padding-top: em;
    text-align: center;
    height: 100vh;

}
.bonus-invitation h5{
    font-size: 15px;
}
.bonus-invitation p{
    font-size: 12.5px;
}
.bonus-invitation .invitation{
    background: rgb(20, 20, 219);
    padding: 6px 8px;
    border-radius: 50px;

    text-align: center;
    font-size: 14px;
    display:flex;
    justify-content: center;


}
.bonus-invitation .invitation a{
    color: #fff;
    text-decoration: none;
}



/* INFOS COMPTE */

.nav-tabs li{
    background: #f8f7f7 !important;
    border-radius: 7px;
    margin:0 5px;
    border: 1px solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.329);

}
.nav-tabs li button{
    color: #242424;

}
.nav-tabs li button.active{
    background: rgb(216, 216, 237) !important;
    color: rgb(17, 17, 161) !important;
    border-bottom: 2px solid blue !important;
    border-radius: 7px;
}
.card-solde{
    padding: 15px;
    border-radius: 10px !important;
}
.card-solde .solde{
   font-size: 18px;
}

.card-solde .heade{
    font-weight: 200 !important;
    display: flex;
    justify-content: space-between;
}

.card-option{
    padding-bottom: 7px;

    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px !important;
}
.card-option .icone{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px 0;
}
.card-option img{

    width: 55px;
    background: rgb(185, 188, 235);
    text-align: center;
    padding: 5px 6px ;
    border-radius: 50px;

}
.card-option label{
    font-size: 12px;
    text-align: center;
}

.card-option .iconeSend{
        position: relative;
        float: right;
        top: 15px;
        z-index: 999;
        left: 18px;
        background: blue;
        padding: 4px 7.5px;
        color: #fff;
        border-radius: 50%;
        font-size: 11px;

}

.solde h2{
    font-weight: 900;
    font-size: 2em !important;

}

.deposity{

    text-align: center;


    padding-top: 1.3em;
    padding-bottom: 1.3em;


    cursor: pointer;
}
.deposity a{
    background: rgba(200, 200, 232, 0.831);
    font-size: 1.2em;
    padding: 10px 68px;
    font-weight: 300;
    text-decoration: none;
    color: blue;

    border-radius: 10px;
}
